################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Student_regestration/.vs/Student_regestration/FileContentIndex
